<!DOCTYPE html>
<html>

<head>
    <title>main</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.cdnfonts.com/css/hermeneus-one" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <!-- Логотип та назва сайту -->
            <div class="logo-container">
                <img class="logo-img" src="imgs/dr-stone-img.png">
                <span class="text">Dr. stone</span>

            </div>
            <!-- Пошуковий рядок -->
            <div class="search-bar">
                <form class="input-bar">
                    <img class="loupe-img" src="imgs/loupe-img.png">

                </form>
            </div>
            <!-- Меню -->
            <ul class="navigation">
                <a>
                    <li><button class="header-btn">store</button></li>
                </a>
                <a>
                    <li><button class="header-btn">cart</button></li>
                </a>
                <a>
                    <li><button class="header-btn">about</button></li>
                </a>
                <a>
                    <li><button class="header-btn">feedback</button></li>
                </a>
            </ul>


        </div>
        
    </header>

    <main>

        <div class="catalog-container">

            <h1>The largest selection of minerals in the world</h1>
            <button><span class="catalog-btn">View catalogue</span> &#8702;</button>

        </div>


        <div class="container">
            <ul class="description">
                <li>Fast Delivery</li>
                <li>5+ Years Of Work</li>
                <li>Time - Tested Quality</li>
                <li>24/7 Technical Support</li>
            </ul>

        </div>

    </main>
    <footer>
    </footer>
</body>

</html>