body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* Фонове зображення */
    background-image: url(images/main-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}


/* MAIN STYLE START*/
.about-background {
    background-image: url(images/acwacacacawvevwv.webp);
    background-size: cover;
    background-attachment: fixed;
}

/* Головний дів */
.about-container {
    display: flex;
    justify-content: center;

    width: 100vh;
    margin: 0 auto;
    padding-bottom: 5vh;
    color: #FFF4E6;
}

/* Заголовок вкладок з текстом про команду */
.decription-title {
    font-size: 30px;
}


/* Головний дів з грідом */
.about-container .about-grid {
    display: grid;
    grid-template-rows: 150px minmax(250px, 270px) minmax(100px, 270px) minmax(100px, 270px);
    grid-template-columns: minmax(680px, 700px) minmax(680px, 700px);
    grid-gap: 4vh;

    margin: 0 auto;
}

.about-grid .about-bg {
    background-color: #BD977C;
    border-radius: 10px;
    padding: 0px 1vh 0px 1vh;

    box-shadow: inset 0px 0px 10px #331500;
}

/* Заголовок */
.about-grid .about-title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    font-size: 64px;
    font-weight: bolder;
}

/* Контейнер з текстом про команду */
.about-grid .about-team {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

/* Контейнер з текстом про учасника */
.about-grid .person-1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

/* Контейнер з текстом про учасника */
.about-grid .person-2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

/* Контейнер з текстом про учасника */
.about-grid .person-3 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

/* Контейнер з текстом про учасника */
.about-grid .person-4 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

/* Контейнер контаків */
.about-grid .dev-contacts {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    
    background-color: #9b7960;
    box-shadow: inset 0px 0px 10px #331500;
    border-radius: 10px;
    padding: 0px 1vh 0px 1vh;
    padding-bottom: 1vh;
}

/* Кінець */

/* Основний текст вкладок */
.about-grid .about-bg p {
    color: #FFF4E6;
    font-size: 26px;
    margin: 0;
}

/* Вирівнювання контактів на вкладці */
.about-grid .dev-contacts .contacts-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

/* Позиціонування тексту біля аватарок */
.about-grid .dev-contacts .contacts-wrap .contacts-container tr td span {
    padding-left: 1vh;
    font-weight: 600;
    font-size: 25px;
}

/* Форматування тексту пошт */
.about-grid .dev-contacts .contacts-wrap .contacts-container tr td {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 22px;
}

/* Форматування фото */
.about-grid .dev-contacts .contacts-wrap .contacts-container tr td .about-pfp-img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50vh;
}

/* Заголовок вкладки контаки */
.about-container .about-grid .dev-contacts h2 {
    color: #FFF4E6;
    font-size: 32px;
    font-weight: bold;
    margin: 1vh 0 1vh 0;
}

/* MAIN STYLE END */