.admin-panel-container {
    border-radius: 10px;
    font-family: 'Kameron';
    padding: 2em;
    margin: 2em;

    color: #3C2F2F;
    box-shadow: 0px 4px 10px #00000080;
    background-color: #A58363;
}

.admin-panel-container h1 {
    margin: 0;
    font-size: 42px;
}

.admin-panel-container h2 {
    margin: 1em;
}

.table-text-title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: normal;
    color: #3C2F2F;
}

.table-format {
    width: 100%;
    background-color: #D5B78D;
    border-radius: 10px;
    border-collapse: collapse;
}

.table-header {
    background-color: #CC9A7B;
    height: 2em;
    width: 100em;
    border-radius: 10px 10px 0 0;
}

.table-id-element {
    text-align: center;
}

.delete-btn {
    width: 5em;
    height: 2em;
    color: #D5C5BA;
    font-family: 'Kameron';
    font-size: 1rem;
    border: 0;
    border-radius: 5px;
    margin: 0.5em;
    background-color: #563736;
    box-shadow: 0px 4px 10px #00000040;
}

.delete-btn:hover {
    text-decoration: underline 2px solid #9D0D00;
}

.delete-btn:active {
    /* Анімація кнопок */
    transition: 0.1s;
    transform: scale(0.93);
}

.details-href {
    color: #3C2F2F;
    text-decoration: none;
}

.details-href:hover{
    text-decoration: underline 2px solid #3C2F2F;
}

.table-element{
    text-align: center;
}