.cart-background {
    /* Встановлення фону сторінки  */
    background-image: url(images/cart-background.webp);
    background-size: cover;
    background-attachment: fixed;

    /* Встановлення спільного шрифту */
    font-family: 'Kameron';
}

.cart-background .cart-grid {
    /* Поділ сторінки */
    display: grid;
    grid-template-rows: 30px minmax(15em, 25em) minmax(5em, 15em);
    grid-template-columns: 500px 500px;
    grid-gap: 3em 10em;
    justify-content: center;
    height: 100%;
}

.cart-grid h1{
    /* Форматування назви сторінки */
    grid-row: 1 / 2;
    color: #FFF4E6;
    font-size: 4rem;
    margin: 0;
}

.cart-grid .order-elements {
    /* Початок роботи з елементами сторінки */
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    /* Форматування першого елементу сторінки */
    background-color: #B79C8C;
    border-radius: 10px;
    padding: 1em 0 0 1em;
    box-shadow: 0 0 20px #00000080;
}

.cart-grid .order-elements .clear-all {
    /* Форматування блоку очищення*/
    display: flex;
    align-items: center;
}

.cart-grid .order-elements .trash-bin-image{
    /* Форматування сміттєвого кошику*/
    width: 40px;
}

.cart-grid .order-elements .clear-button {
    /* Форматування кнопки очищення корзини  */
    font-size: 1.5rem;
    border: 0;
    background-color: #B79C8C;
    font-weight: bold;
    font-family: 'Kameron';
}

.order-elements .product-panel {
    /* Встановлення смуги прокручування */
    overflow: auto;
    overflow-y: scroll;
    height: 21.5em;
}

.order-elements .product-panel::-webkit-scrollbar {
    /* Форматування фону смуги прокручування */
    background-color: #A2725E;
    border-radius: 10px 10px 10px 0;
    width: .9em;
}

.order-elements .product-panel::-webkit-scrollbar-thumb {
    /* Форматування колесика смуги прокручування */
    background-color: #3C2F2F;
    border-radius: 10px 10px 10px 0;
}

.order-elements .product-panel .product {
    /* Робота з інформацією про продукт */
    display: grid;
    grid-template-rows: 5em 2em;
    grid-template-columns: .7fr 2fr 2fr;
    width: 97%;
    background-color: #B57E67;
    border-radius: 10px; 
    margin-top: 2em;  
}

.product .image{
    /* Встановлення розміру зображення каменю */
    width: 6em;
}

.product .product-info {
    /* Встановлення і форматування назви каменю */
    font-size: 1.7rem;
    color: black;
    font-weight: bold;
    color: #3C2F2F;
}

.product .product-info p{
    /* Встановлення і форматування id каменю */
    margin: 0;
    font-size: .9rem;
    font-weight: normal;
    width: 50%;
    color: #403E3F;
}

.product .product-price {
    /* Встановлення ціни каменю */
    grid-column: 3 / 4;
    font-size: 2rem;
    color: #DEDEDE;
    padding-top: 0.7em;
    text-align: center;
}

.product .product-price .currency{
    /* Форматування валюти, у якій вказано ціну */
    color: #438140;
}

.product .product-menu {
    /* Встановлення і форматування меню взаємодії з продуктом */
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
    background-color: #844518;
    border-radius: 10px;
}

.product .product-menu .delete-button{
    /* Форматування кнопки видалення об'єкту з кошику */
    font-family: 'Kameron';
    font-size: 1.3rem;
    border: 0;
    color: #C59B5E;
    background-color: #844518;
    text-decoration: underline;
    margin-left: .3em;
}

.product .product-menu .amount {
    /* Встановлення показнику кількості продукту */
    display: flex;
    flex-wrap: wrap;
    margin-right: .5em;
    align-items: center;
}

.product .product-menu .amount-block {
    /* Загальне форматування показнику кількості продукту*/
    background-color: #DEDEDE;
    width: 5em;
    height: 1.5em;
    border-radius: 50px;
    margin-left: .5em;   
}

.product .product-menu span{
    /* Форматування слова "Amount" */
    color: #FFF4E6;
    font-size: 1.5rem;
}

.product .product-menu .amount-menu {
    /* Детальніше форматування показнику кількості продукту */
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.product .product-menu .amount-menu .add{
    /* Форматування кнопки "+" */
    background-color: #3C2F2F;
    border-radius: 50%;
    border: 0;
    height: 20px;
    width: 20px;
    margin-right: .1em;
    color: #FFF4E6;
    font-size: 0.9em;
}

.product .product-menu .amount-menu .minus{
    /* Форматування кнопки "-" */
    background-color: #3C2F2F;
    border-radius: 50%;
    border: 0;
    height: 20px;
    width: 20px;
    margin-left: .1em;
    color: #FFF4E6;
    font-size: 0.9em;
}

.product .product-menu .amount-menu .minus hr{
    /* Встановлення кнопки "-" */
    border: .8px solid #FFF4E6;
}

.product .product-menu .amount-menu span {
    /* Встановлення кількості продукту */
    color: black;
}

/* Кінець роботи з першим елементом */


.cart-grid .total-container {
    /* Початок форматування другого обєкту */
    border-radius: 10px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #B79C8C;
    box-shadow: 0 0 20px #00000080;
    margin: 0;
}

.cart-grid .total-container h1{
    /* Встановлення слова "Products" */
    color: white;
    font-size: 3em;
    padding: .4em 0 0 .4em;
    width: 5em;
}

.cart-grid .total-container p {
    /* Форматування назв продуктів */
    color: white;
    font-size: 1.7rem;
    margin: .4em 0 0 .7em;
    width: 6em;
}

.cart-grid .total-container hr {
    /* Встановлення розділювачів між продуктами */
    border: .15em solid black;
    width: 20em;
    margin: 0 0 1em 1em;
    border-radius: 10px;
}

.cart-grid .total-container .price{
    /* Форматування загальної ціни товару */
    position: absolute;
    text-align: center;
    
    width: 5em;
    height: 1em;

    margin-left: 15em;
    margin-top: .8em;
    
    font-size: 1.5em;
    background-color: #B57E67;
    border-radius: 5px;
}

.total-container .currency{
    /* Форматування валюти, у якій вказано загальні ціну */
    color: #438140;
}

.total-container .price-number {
    /* Форматування числа ціни */
    color: #FFF4E6;
}

.cart-grid .total-container .price1{
    /* Форматування загальної ціни іншого товару */
    position: absolute;
    text-align: center;
    
    width: 5em;
    height: 1em;

    margin-left: 15em;
    margin-top: .2em;
    
    font-size: 1.5em;
    background-color: #B57E67;
    border-radius: 5px;
}

/* Кінець роботи з другим елементом */
