.cart-background {
    /* Встановлення фону сторінки  */
    background-image: url(images/cart-background.webp);
    background-size: cover;
    background-attachment: fixed;

    /* Встановлення спільного шрифту */
    font-family: 'Kameron';
}

.cart-background .cart-grid {
    /* Поділ сторінки */
    display: grid;
    grid-template-rows: 30px minmax(15em, 30em);
    grid-template-columns: 500px 500px;
    grid-gap: 3em 10em;
    justify-content: center;
    height: 100%;
}

.cart-grid h1 {
    /* Форматування назви сторінки */
    grid-row: 1 / 2;
    color: #FFF4E6;
    font-size: 4rem;
    margin: 0;
}

.cart-grid .order-elements {
    /* Початок роботи з елементами сторінки */
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    /* Форматування першого елементу сторінки */
    background-color: #B79C8C;
    border-radius: 10px;
    padding: 1em 0 0 1em;
    box-shadow: 0 0 20px #00000080;
}

.cart-grid .order-elements .clear-all {
    /* Форматування блоку очищення*/
    display: flex;
    align-items: center;
}

.cart-grid .order-elements .trash-bin-image {
    /* Форматування сміттєвого кошику*/
    width: 40px;
}

.cart-grid .order-elements .clear-button {
    /* Форматування кнопки очищення корзини  */
    font-size: 1.5rem;
    border: 0;
    background-color: #B79C8C;
    font-weight: bold;
    font-family: 'Kameron';
    color: #2E3137;
}

.cart-grid .order-elements .clear-button:hover {
    text-decoration: underline 2px solid #2E3137;
}

.order-elements .product-panel {
    /* Встановлення смуги прокручування */
    overflow: auto;
    overflow-y: scroll;
    margin-top: 1em;
    height: 20em;

}

.order-elements .else {
    font-size: 2rem;
}

.order-elements .product-panel::-webkit-scrollbar {
    /* Форматування фону смуги прокручування */
    background-color: #A2725E;
    border-radius: 10px 10px 10px 10px;
    width: .9em;
}

.order-elements .product-panel::-webkit-scrollbar-thumb {
    /* Форматування колесика смуги прокручування */
    background-color: #3C2F2F;
    border-radius: 10px 10px 10px 10px;
}

.order-elements .product-panel .product {
    /* Робота з інформацією про продукт */
    display: grid;
    grid-template-rows: 5em 2em;
    grid-template-columns: 8em 2fr 7em;
    width: 97%;
    background-color: #B57E67;
    border-radius: 10px;
    margin-top: 2em;
}

.product .product-info {
    /* Встановлення і форматування назви каменю */
    display: flex;
    
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    color: #3C2F2F;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: .2em 0 0 0;
    
}

.product .img-container {
    display: flex;
    justify-content: center;
}

.product .product-img {
    height: 78px;
}

.product .product-info p {
    /* Встановлення і форматування id каменю */
    margin: 0;
    font-size: .9rem;
    font-weight: normal;
    width: 100%;
    color: #403E3F;
}

.product .product-price {
    /* Встановлення ціни каменю */
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    font-size: 2rem;
    color: #DEDEDE;
    padding-top: 0.7em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product .product-price .currency {
    /* Форматування валюти, у якій вказано ціну */
    color: #438140;
}

.product .product-menu {
    /* Встановлення і форматування меню взаємодії з продуктом */
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
    background-color: #844518;
    border-radius: 10px;
}

.product .product-menu .delete-button {
    /* Форматування кнопки видалення об'єкту з кошику */
    font-family: 'Kameron';
    font-size: 1.3rem;
    border: 0;
    color: #C59B5E;
    background-color: #844518;
    margin-left: .3em;
}

.product .product-menu .delete-button:hover {
    text-decoration: underline 2px solid #C59B5E;
}

.product .product-menu .amount {
    /* Встановлення показнику кількості продукту */
    display: flex;
    flex-wrap: wrap;
    margin-right: .5em;
    align-items: center;
}

.product .product-menu .amount-block {
    /* Загальне форматування показнику кількості продукту*/
    background-color: #DEDEDE;
    width: 3em;
    height: 1.5em;
    border-radius: 50px;
    margin-left: .5em;
    text-align: center;
}

.product .product-menu span {
    /* Форматування слова "Amount" */
    color: #FFF4E6;
    font-size: 1.5rem;
}

.product .product-menu .amount-menu {
    /* Детальніше форматування показнику кількості продукту */
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.product .product-menu .amount-block span {
    /* Встановлення кількості продукту */
    color: black;
    text-align: center;
}

/* Кінець роботи з першим елементом */


.cart-grid .total-container {
    /* Початок форматування другого обєкту */
    height: 2em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3em;
}

.total-container .total-title {
    font-size: 2em;
    margin: 0;
    width: 30%;
    display: inline;
}

.total-container .total-price {
    /* Форматування загальної ціни товарів */

    width: fit-content;
    height: 1.6em;

    margin-right: 1em;
    text-align: center;
    padding: 0 .5em 0 .5em;
    background-color: #B57E67;
    border-radius: 5px;
}

.total-container .currency {
    /* Форматування валюти, у якій вказано загальні ціну */
    color: #438140;
    font-size: 1.5rem;
}

.total-container .price-number {
    /* Форматування числа ціни */
    color: #FFF4E6;
    font-size: 1.5rem;
}


/* Кінець роботи з другим елементом */

/* Початок роботи з третім елементом */
.cart-grid .order-form {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #B79C8C;
    box-shadow: 0 0 20px #00000080;
    border-radius: 10px;
    height: 100%;
}

.order-form input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #F5C0AD inset !important;
}

.order-form .order-title {
    font-size: 2.5em;
    color: #2E3137;
    text-align: center;
    margin-top: .5rem; 
}

.cart-grid .order-details {    
    margin-left: 1em;
}

.cart-grid .order-details span {
    font-size: 2em;
    color: #403E3F;
}

.cart-grid .order-name input{
    display: block;
    height: 1.5em;
    width: 45%;
    background-color: #F5C0AD;
    border-radius: 10px;
    outline: none;
    border: 0; 
    font-size: 1.4em;
    box-shadow: inset 0px 4px 4px #BD977CBF;
    padding-left: .7em;
    color: #2E3137;
}

.cart-grid .order-details input::placeholder{
    color: #2E313780;
    font-size: 1em;
}

input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #F5C0AD inset !important;
}

.order-details input {
    margin-bottom: 1.5em;
}

.cart-grid .order-email input{
    display: block;
    height: 1.5em;
    width: 60%;
    background-color: #F5C0AD;
    border-radius: 10px;
    outline: none;
    border: 0; 
    font-size: 1.4em;
    box-shadow: inset 0px 4px 4px #BD977CBF;
    padding-left: .7em;
    color: #2E3137;
}

.cart-grid .order-address input{
    display: block;
    height: 1.5em;
    width: 80%;
    background-color: #F5C0AD;
    border-radius: 10px;
    outline: none;
    border: 0; 
    font-size: 1.4em;
    box-shadow: inset 0px 4px 4px #BD977CBF;
    padding-left: .7em;
    color: #2E3137;
}

.order-form .submit-order {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-order .submit-order-btn {
    border: 0;
    background-color: #4E312D;
    color: #D5C5BA;
    height: 2.5em;
    width: 10em;
    box-shadow: 0px 5px 10px #3C2F2F;
    border-radius: 10px;
    font-size: 1.4rem;
    font-family: 'Kameron';
}

.submit-order-btn:active {
    transition: 0.2s;
    box-shadow: 0 5px 4px #66452ABF;
    transform: translateY(4px);
  }