.feedback {
    background-image: url(images/feedback-background.webp);
    background-size: cover;
    background-attachment: fixed;
}

.feedback .feedback-container {
    background-color: #BD977C;
    width:fit-content;
    margin: 0 auto;
    margin-top: 3vh;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #331500;
    text-align: center;
    color: #FFF4E6;
    padding: 1em;
}

.feedback-form .feedback-bg-format {
    /* Формат полів */
    font-size: 1.5rem;  
    font-family: 'Kameron';
    background-color: #F5C0AD;
    margin-bottom: .5em;
    border-radius: 10px;
    outline: none;
    border: 0;
    box-shadow: inset 0px 4px 4px #BD977CBF;
    /* Позиціонування рядка вводу */
    padding-top: 10px;
    padding-left: 10px;
    display: block;
}

input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #F5C0AD inset !important;
}

.feedback .feedback-container h1 {
    font-size: 2.5rem;
    margin: 0;
}

.feedback-form {
    text-align: left;
}

.feedback-form span {
    font-size: 2rem;
    font-weight: bold;
}

/* Рядок вводу ім'я*/
.feedback-form .name-input {
    /* Форматування рядка вводу */
    width: 260px;
    height: 30px;
}

/* Рядок введення пошти*/
.feedback-form .email-input {
    /* Форматування рядка вводу */
    width: 420px;
    height: 30px;

}

/* Рядок введення причини*/
.feedback-form .subject-input {
    /* Форматування рядка вводу */
    width: 420px;
    height: 30px;
}

/* Рядок введення повідомлення*/
.feedback-form .message-input {
    /* Форматування рядка вводу */
    width: 520px;
    height: 120px;
}

 .message-input::placeholder {
    font-family: 'Kameron';
    font-size: 1.5rem;
}

/*Кнопака надсилання відгуку */
.submit-btn {
    /* Форматування рядка вводу */
    background-color: #CBB19B;
    border-radius: 50px;
    width: 184px;
    height: 50px;
    outline: none;
    border: 0;
    box-shadow: 0px 5px 4px #66452ABF;
    margin: 0 auto;

    /* Форматування тексту кнопки "Submit" */
    font-size: 32px;
    color: #66452A;
    font-family: 'Kameron';
    font-weight: medium;
}

.feedback-form textarea {
    font-family: 'Kameron';
    font-size: 28px;
    color: #000000bf;
    padding: 10px;

}

.feedback-form input::placeholder {
    font-size: 1.5rem;
    font-family: 'Kameron';
}

.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.submit-btn:active {
    transition: 0.2s;
    box-shadow: 0 5px 4px #66452ABF;
    transform: translateY(4px);
  }