body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* Фонове зображення */
    background-image: url(images/main-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* MAIN STYLE START*/

.store-background{
    background-image: url(images/store-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.store-grid {
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    grid-template-rows: 80px 1fr;
    width: 100%;
    height: 100vh;
}

.store-grid .store-title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    background-color: #A68F86;
    box-shadow: 0 0 15px #00000099;
    clip-path: inset(0 0 -15px 0);

    z-index: 1;

    font-size: 52px;
    text-align: center;
}



.filters-page {
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    background-color: #B49C93;
}

.products-list {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

.filters-page ul {
    list-style-type: none;
    padding: 0;
}

.filters-page ul hr {
    border-radius: 3px;
    border: 3px solid black;
    width: 200px;
}

.filters-page ul img {
    vertical-align: bottom;
    width: 52px;
}

#filters {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

#price {
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    color: white;
    padding-left: 4vh;
}

#category {
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    color: white;
    padding-left: 4vh;
}

.arrow {
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN STYLE END */