{%extends "base.html"%}

{%block title%}<title>Stone hearts about team</title>{%endblock%}
{%block content%}
<body class="about">
<!-- Дів для вирівнювання по центру -->
<div class="about-container">
    <!-- Головний дів зі всіма об'єктами у ньому  -->
    <div class="about-grid">

        <!-- Заголовок сторінки -->
        <h1 class="about-title"> About </h1>
        <!-- Кінець -->

        <!-- Контейнер з текстом про нашу команду -->
        <div class="about-bg about-team">
            <h2 class="decription-title">About US</h2>
            <p>We are a team of four enthusiasts united by a common goal: to create high-quality and innovative
                solutions.
                Although we are at the beginning of our professional journey, our drive and determination allow us to
                develop quickly and learn new skills.
                Each of us contributes to the project, and we are sincerely passionate about the opportunity to learn
                and improve together.
                Our openness to new knowledge and commitment to excellence help us to work productively and achieve our
                goals.</p>
        </div>
        <!-- Кінець -->

        <!-- Контейнер з текстом про учасника команди -->
        <div class="about-bg person-1">
            <h2 class="decription-title">Grushka Andriy</h2>
            <p>Communicator and motivator.
                He coordinates communication both within the team and with partners and clients.
                His enthusiasm and support inspire everyone, contributing to productive cooperation.</p>
        </div>
        <!-- Кінець -->

        <!-- Контейнер з текстом про учасника команди -->
        <div class="about-bg person-2">
            <h2 class="decription-title">Shypkin Denis</h2>
            <p>A technical genius who quickly learns new technologies and solves complex problems.
                His programming skills and ability to analyze problems ensure the reliability and effectiveness of our
                solutions. </p>
        </div>
        <!-- Кінець -->

        <!-- Контейнер з текстом про учасника команди -->
        <div class="about-bg person-3">
            <h2 class="decription-title">Heneliuk Nazar</h2>
            <p> Our leader and the most experienced member.
                He skillfully plans every stage of work and always finds the best way to achieve the goals, always ready
                to help others learn new technologies.
                His organization and responsibility help the team stay on the right track.</p>
        </div>
        <!-- Кінець -->

        <!-- Контейнер з текстом про учасника команди -->
        <div class="about-bg person-4">
            <h2 class="decription-title">Polischuk Andriy</h2>
            <p>He brings fresh ideas to our projects thanks to his creative approach and ability to think outside the
                norm.
                His ability to adapt to different tasks and passionate dedication make him an indispensable member of
                the team.</p>
        </div>
        <!-- Кінець -->


        <div class="dev-contacts">

            <h2>Developer contacts:</h2>
            <div class="contacts-wrap">

                <!-- Контакт учасника -->
                <table class="contacts-container">
                    <!-- Ряд з аватаркою і іменем -->
                    <tr class="contact-item">
                        <td>
                            <img class="about-pfp-img" src="static/images/photo1.jpg" alt="Contact 1">
                            <span>Andriy Polischuk</span>
                        </td>
                    </tr>
                    <!-- Кінець -->
                    <tr>
                        <td>
                            ZXCGhoulEspada6@gmail.com
                        </td>
                    </tr>
                </table>
                <!-- Кінець -->

                <!-- Контакт учасника -->
                <table class="contacts-container">
                    <!-- Ряд з аватаркою і іменем -->
                    <tr>
                        <td>
                            <img class="about-pfp-img" src="static/images/photo2.jpg" alt="Contact 2">
                            <span>Nazar Heneliuk</span>
                        </td>
                    </tr>
                    <!-- Кінець -->
                    <tr>
                        <td>
                            Nazarbaevpistalet@gmail.com
                        </td>
                    </tr>
                </table>
                <!-- Кінець -->

                <!-- Контакт учасника -->
                <table class="contacts-container">
                    <!-- Ряд з аватаркою і іменем -->
                    <tr>
                        <td>
                            <img class="about-pfp-img" src="static/images/photo3.jpg" alt="Contact 3">
                            <span>Shypkin Denis</span>
                        </td>
                    </tr>
                    <!-- Кінець -->
                    <tr>
                        <td>
                            KitikAizenYokoso@gmail.com
                        </td>
                    </tr>
                </table>
                <!-- Кінець -->

                <!-- Контакт учасника -->
                <table class="contacts-container">
                    <!-- Ряд з аватаркою і іменем -->
                    <tr>
                        <td>
                            <img class="about-pfp-img" src="static/images/photo4.jpg" alt="Contact 4">
                            <span>Grushka Andriy</span>
                        </td>
                    </tr>
                    <!-- Кінець -->
                    <tr>
                        <td>
                            Rybak26NANAfun@gmail.com
                        </td>

                    </tr>
                </table>
                <!-- Кінець -->

            </div>
        </div>
    </div>
    <!-- Кінець головного діву -->
</div>
<!-- Кінець діву для вирівнювання -->
</body>
{%endblock%}