<!DOCTYPE html>

<html>
    
<head>
    {%block title%}{%endblock%}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='store.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='feedback.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='order_details.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Kameron" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/dr-stone-img.png') }}" type="image/x-icon">
</head>

    <header>
        <!-- Основний контейнер хедера -->
        <div class="container">

            <!-- Логотип та назва сайту -->
            <div class="logo-container">
                <img class="logo-img" src="{{ url_for('static', filename='images/dr-stone-img.png') }}">
                <span class="text"><a href="/">Stone hearts</a></span>

            </div>
            <!-- Кінець -->

            <!-- Пошуковий рядок -->
            <div class="search-bar">
                <img class="loupe-img" src="{{ url_for('static', filename='images/loupe-img.png') }}">
                <form action="{{ url_for('store.store') }}" method="GET">
                <input type="search" name="query" placeholder="Stone...">
                </input>
                </form>
            </div>
            <!-- Кінець -->

            <!-- Меню -->
            <ul class="navigation">
                <a href="/store">
                    <li><button class="header-btn">store</button></li>
                </a>
                <a href="/cart">
                    <li><button class="header-btn">cart</button></li>
                </a>
                <a href="/about">
                    <li><button class="header-btn">about</button></li>
                </a>
                <a href="/feedback">
                    <li><button class="header-btn" id="feedback-btn">feedback</button></li>
                </a>
            </ul>
            <!-- Кінець -->

        </div>
        <!-- Кінець -->
    </header>

        {%block content%}{%endblock%}

</html>