<!DOCTYPE html>
<html>

<head>
    {%block title%}{%endblock%}
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/store.css">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="../static/home.css">
    <link href='https://fonts.googleapis.com/css?family=Kameron' rel='stylesheet'>
</head>

    <header>
        <!-- Основний контейнер хедера -->
        <div class="container">

            <!-- Логотип та назва сайту -->
            <div class="logo-container">
                <img class="logo-img" src="static/images/dr-stone-img.png">
                <span class="text"><a href="/">Stone hearts</a></span>

            </div>
            <!-- Кінець -->

            <!-- Пошуковий рядок -->
            <div class="search-bar">
                <img class="loupe-img" src="static/images/loupe-img.png">
                <input type="search" placeholder="Stone...">
                </input>
            </div>
            <!-- Кінець -->

            <!-- Меню -->
            <ul class="navigation">
                <a href="/store">
                    <li><button class="header-btn">store</button></li>
                </a>
                <a>
                    <li><button class="header-btn">cart</button></li>
                </a>
                <a href="/about">
                    <li><button class="header-btn">about</button></li>
                </a>
                <a>
                    <li><button class="header-btn" id="feedback-btn">feedback</button></li>
                </a>
            </ul>
            <!-- Кінець -->

        </div>
        <!-- Кінець -->
    </header>


        {%block content%}{%endblock%}

</html>