<!DOCTYPE html>
<html>

<head>
    <title>Stone hearts</title>
    <link rel="stylesheet" href="../static/base.css">
    <link href="https://fonts.cdnfonts.com/css/hermeneus-one" rel="stylesheet">
</head>

<body>
    <header>
        <!-- Основний контейнер хедера -->
        <div class="container">
            
            <!-- Логотип та назва сайту -->
            <div class="logo-container">
                <img class="logo-img" src="static/images/dr-stone-img.png">
                <span class="text">Stone hearts</span>

            </div>
            <!-- Кінець -->

            <!-- Пошуковий рядок -->
            <div class="search-bar">
                <img class="loupe-img" src="static/images/loupe-img.png">
                <input type="search" placeholder="Stone...">
                </input>
            </div>
            <!-- Кінець -->

            <!-- Меню -->
            <ul class="navigation">
                <a>
                    <li><button class="header-btn">store</button></li>
                </a>
                <a>
                    <li><button class="header-btn">cart</button></li>
                </a>
                <a>
                    <li><button class="header-btn">about</button></li>
                </a>
                <a>
                    <li><button class="header-btn">feedback</button></li>
                </a>
            </ul>
            <!-- Кінець -->

        </div>
        <!-- Кінецьц -->
    </header>

    <main>
        <!-- Перехід до каталогу -->
        <div class="catalog-container">
            <!-- Вітаючий текст -->
            <h1>The largest selection of minerals in the world</h1>
            <!-- Кнопка для преходу в магазин -->
            <button><span class="catalog-btn">View catalogue</span> &#8702;</button>

        </div>

        <!-- Опис досягнень компанії -->
        <div class="container">
            <ul class="description">
                <li>Fast Delivery</li>
                <li>5+ Years Of Work</li>
                <li>Time - Tested Quality</li>
                <li>24/7 Technical Support</li>
            </ul>

        </div>

    </main>
</body>

</html>