{%extends "base.html"%}

{%block title%}<title>Stone hearts cart</title>{%endblock%}

{%block content%}

<body class="cart-background">
    <div class="cart-grid">
        <h1>
            Cart
        </h1>
        <div class="order-elements">
            <div class="clear-all">
                <img class="trash-bin-image" src="static/images/trash-bin.png">
                <a href="{{ url_for('store.remove_all', cart=cart) }}">
                    <button class="clear-button">
                        Clear
                    </button>
                </a>
            </div>
            {% if cart %}
            <div class="product-panel">
                {% for item in cart.values() %}
                <div class="product">
                    <span class="product-info">
                        {{ item.name }}
                        <p>
                            id: {{ item.id }}
                        </p>
                    </span>
                    <span class="product-price">
                        <span class="currency">$ </span>{{ item.price }}
                    </span>
                    <div class="product-menu">
                        <button class="delete-button">
                            Delete
                        </button>
                        <div class="amount">
                            <span>
                                Quantity:
                            </span>
                            <div class="amount-block">
                                <span>
                                    {{ item.quantity }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="total-container">
                <span class="total-title">
                    Total:
                </span>
                <div class="total-price">
                    <span class="currency">$ </span>
                    <span class="price-number">{{ total }} </span>
                </div>
            </div>
            {% else %}
            <p class="else">Your cart is empty</p>
            {% endif %}
        </div>
        <!-- {% if cart %}
        <form action="{{ url_for('store.checkout') }}" method="post" class="order-form">
            <button>Submit order</button>
        </form>
        {% endif %} -->
    </div>
</body>
{%endblock%}