{%extends "base.html"%}

{%block title%}<title>Stone Hearts Feedback</title>{%endblock%}
{%block content%}
    <body class="feedback">
        <div class="feedback-container">
            <h1> Feedback Form </h1>
        <div class="feedback-form">
            
            <span> Name: </span>
            <input class="name-input feedback-bg-format" type="text" placeholder="Enter name">   

            <span> Email: </span>
            <input class="email-input feedback-bg-format" type="email" placeholder="Enter email">

            <span> Subject: </span>
            <input class="subject-input feedback-bg-format" type="text" placeholder="Enter subject">

            <span> Message: </span>
            <textarea class="message-input feedback-bg-format" type="search" placeholder="Enter message"></textarea>

        </div>
        <div class="btn-container">
            <button class="submit-btn">Submit</button>
        </div>
    </div>
</body>
{%endblock%}