{%extends "base.html"%}

{%block title%}<title>Stone Hearts</title>{%endblock%}
{%block content%}
<body class="home">
<div class="home-container">
    
    <!-- Перехід до каталогу -->
    <div class="catalog-container">
        <!-- Вітаючий текст -->
        <h1>The largest selection of minerals in the world</h1>
        <!-- Кнопка для преходу в магазин -->
        <a href="/store"><button><span class="catalog-btn">View catalogue</span> &#8702;</button></a>

    </div>
    <!-- Кінець -->

    <!-- Опис досягнень компанії -->
    <div class="container">
        <ul class="description">
            <li>Fast Delivery</li>
            <li>5+ Years Of Work</li>
            <li>Time - Tested Quality</li>
            <li>24/7 Technical Support</li>
        </ul>

    </div>
</div>
</body>
<!-- Кінець -->
{%endblock%}