{%extends "base.html"%}
{%block title%}<title>Stone Hearts store</title>{%endblock%}
<link rel="stylesheet" href="../static/store.css">
{%block content%}

<div class="store-container">

    <div class="title-container">

        STORE


    </div>

    <div class="filters-page">
        <ul>
            <li>Filter</li>
            <hr>
            <li>gqrg</li>
            <li>qbereqb</li>
            <li>bqq</li>
        </ul>
    </div>
    <div class="products-list">

    </div>

</div>

{%endblock%}